.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5 14;
    -fx-background-radius: 6;
    -fx-font-size: 13.5;
    -fx-text-fill: -color-fg-default;
    -fx-cursor: hand;
}

.list-cell:hover {
    -fx-background-color: -color-accent-emphasis;
    -fx-text-fill: -color-fg-emphasis;
}

.combo-box-popup .list-view .list-cell:focused {
    -fx-background-color: -color-accent-emphasis;
    -fx-text-fill: -color-fg-emphasis;
}
