/**
 * table-view
 */
.table-view {
    -fx-padding: 0;
}

.table-cell {
    -fx-padding: 3 4 3 4;
}

.table-row-cell {
    -fx-cell-size: 20px;
}

/**
 * vk-data-table-view
 */
.vk-data-table-view .table-cell:selected {
    -fx-background-color: #C9E2FF;
}

.vk-data-table-view .table-cell .text-field:focused {
    -fx-background-color: white;
}

.vk-data-table-view .table-row-cell:even {
    -fx-background-color: #ffffff;
}

.vk-data-table-view .table-row-cell:odd {
    -fx-background-color: #e8f4f8;
}

.vk-data-table-view .table-cell {
    -fx-border-color: transparent #e0e0e0 #e0e0e0 transparent;
    -fx-border-width: 0 1 1 0;
}

.vk-data-table-view .table-cell {
    -fx-border-color: transparent #e0e0e0 #e0e0e0 transparent;
    -fx-border-width: 0 1 1 0;
}

.vk-data-table-view .column-header {
    -fx-border-color: transparent #e0e0e0 #e0e0e0 transparent;
    -fx-border-width: 0 1 1 0;
}

/**
 * vk-list-table-view
 */
.vk-list-table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #007AFF;
    -fx-text-fill: white;
}

.vk-list-table-view .table-row-cell:odd {
    -fx-background-color: white;
}

.vk-list-table-view .table-row-cell:even {
    -fx-background-color: white;
}