* {
    -fx-font-size: 14px;
    -fx-font-family: "System"
}

/**
 * tree-view
 */
.tree-view {
    -fx-padding: 0;
}

.tree-cell {
    -fx-padding: 6 4;
    -fx-background-color: transparent;
}

.tree-cell:filled:selected {
    -fx-background-color: rgba(225, 225, 225, 1);
    -fx-background-radius: 8;
    -fx-background-insets: 2 6;
}

/**
 * table-view
 */
.table-view {
    -fx-padding: 0;
}

.table-cell {
    -fx-padding: 3 4 3 4;
}

.table-row-cell {
    -fx-cell-size: 20px;
}